.fx-blocks-tabs-nav{
	list-style: none !important;
	margin: 0;
	border-bottom: 1px solid #eee;
	text-align: center;
	margin-left: -21px;
	margin-top: -21px;
	margin-right: -21px;
	margin-bottom: 20px;
	position: relative;
	background: #fff;
}
.fx-blocks-tabs-nav:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.fx-blocks-tabs-nav li{
	display: inline-block;
	margin: 0 !important;
	float: left;
	background: #fff;
}
.fx-blocks-tabs-nav li a{
	display: block;
	padding: 5px 10px;
	border: 1px solid #eee;
	text-decoration: none;
}

.fx-blocks-tabs-nav li a.selected {
	border-bottom-color: #fff;
}
.fx-blocks-tabs-nav li a.not-selected {
	background-color: #eee;
}

/* Panels */
.fx-blocks-tabs-panels {
	background: #fff;
	border: 1px solid #eee;
	padding: 10px;
	margin-top: -1px;
}