/**
 * SortableList component editor styles
 *
 * CSS just for the backend, enqueued after style.scss.
 *
 * @since 1.0.0
 * @package JDRFGutenberg
 */

.sortable-list {
	padding: 12px 0 8px;
}

.sortable-list-items {
	list-style: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

.sortable-list-item {
	background-color: #fff;
	display: block;
	position: relative;
	width: 100%;
	z-index: 10;

	&.sortable-list-item-dragging {
		background-color: rgba(255, 255, 255, 0.8);
		box-shadow: 0 3px 30px rgba(#191e23, 0.2);
	}
}

.sortable-list-handle {
	background: #fff;
	z-index: 11;
	display: inline-flex;
	align-items: flex-end;
	margin: 0;
	padding: 3px;
	outline: none;
	cursor: pointer;
	position: relative;
	width: 36px;
	height: 36px;
	top: 2px; 

	svg {
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
	}
}

.sortable-list-item-toolbar {
	background: #fff;
	border: 1px solid #e3e5e8;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateY( calc( -100% + 1px ) );
	z-index: 11;
	height: 40px;

	.sortable-list-item:hover & {
		display: block;
	}

	button {
		top: -4px; 
	}
}

.sortable-list-item-wrap {
	border: 1px solid #e2e4e7;
	padding: 7px 7px 0 7px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.sortable-list-button-add-item {
	border-radius: 50%;
	margin: 0 auto -12px;
	opacity: 0;
	padding: 0;
	transition: opacity .2s;
	width: 28px;
	height: 28px;

	svg {
		margin: 0 auto;
		pointer-events: none; // Make it easier to catch the button click event.
	}

	.sortable-list:hover & { // Note: This may not be great for a18y.
		opacity: 1;
	}
}

@media screen and (max-width: 600px) {
	.sortable-list-item-toolbar {
		display: block;
	}
	.sortable-list-item-wrap {
		margin-top: 50px;
	}
	.sortable-list-button-add-item {
		opacity: 1;
	}
}
